.tabs {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #ccc;
}
  
.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #f4f4f4;
}
  
.tab:hover {
    background-color: #eaeaea;
}
  
.tab-active {
    background-color: #fff;
    font-weight: bold;
    border-bottom: 2px solid white;
}
  
.content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: -1px;
}
  
.content.active {
    display: block;
}
